<!DOCTYPE html>
<html>
<head>
    <title>Notificações Recebidas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Solicitação de clientes</h1>
        </header>
        <ul>
            {% for notification in notifications %}
                <li><strong>{{ notification.client }}:</strong> {{ notification.message }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('routes.index') }}">Voltar para a página principal</a>
    </div>
</body>
</html>
